* {
    margin: 0;
}

.video {
    column-fill: 0, 0, 0, 10;
}

#loginBody {
    position: absolute;
    top: 7.5%;
    right: 0%;
    width: 27%;
    background-color: rgb(21, 21, 20);
    border-radius: 12px;
    margin: auto;
}

#registerBody {
    position: absolute;
    top: 7.5%;
    right: 0%;
    width: 27.5%;
    background-color: rgb(21, 21, 20);
    border-radius: 12px;
}

.submitButton:hover {
    border: #EF0B0B solid 1px;
    color: #EF0B0B;
    background-color: #2d2d2d;
}

label {
    color: #fff;
}

nav {
    background-color: #2d2d2d;
}

#homebutton {
    background-color: #2d2d2d;
    color: #2d2d2d;
}

#searchbar {
    border: #fff solid 1px;
    border-radius: 12px;
    background-color: #2d2d2d;
}

#searchbar:hover {
    border: #EF0B0B solid 1px;
}

#searchbar::placeholder {
    color: #fff;
}

body {
    color: #2d2d2d;
}

#pageIconsSelection {
    position: absolute;
    top: 45%;
    left: 100px;
}

.zoom-box {
    transition: transform .2sc;
}

.zoom-box:hover {
    transform: scale(1.5);
}

#ModeButton {
    border-radius: 12px;
    background-color: #2d2d2d;
}

#ModeButton:hover {
    border: #EF0B0B solid 1px;
    color: #EF0B0B;
}

#articlePageIcon {
    color: #fff;
    margin-left: 30px;
}

#articlePageIcon:hover {
    color: #EF0B0B;
}

#trainingPageIcon {
    color: #fff;
    margin-left: 250px;
}

#trainingPageIcon:hover {
    color: #EF0B0B;
}

#forumPageIcon {
    color: #fff;
    margin-left: 240px;
}

#forumPageIcon:hover {
    color: #EF0B0B;
}

#advicePageIcon {
    color: #fff;
    margin-left: 250px;
}

#advicePageIcon:hover {
    color: #EF0B0B;
}

#userProfilePageIcon {
    color: #fff;
    margin-left: 280px;
}

#userProfilePageIcon:hover {
    color: #EF0B0B;
}

a {
    text-decoration: none;
}

header {
    border-bottom: #fff solid 1px;
}

header:hover {
    border-bottom: #EF0B0B solid 1px;
}

.nav-link {
    color: #fff;
    border: #fff solid 1px;
    border-radius: 12px;
    margin-right: 10px;
}

.nav-link:hover {
    color: #EF0B0B;
    border: #EF0B0B 1px solid;
}

.bloc {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.bloc video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
}

footer {
    position: sticky;
    background-color: #2d2d2d;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: #EF0B0B solid 1px;
}

footer:hover {
    color: #fff
}

#footerIcons {
    margin-left: 50px;
}

.footerIcons {
    color: #EF0B0B;
    border: #EF0B0B solid 1px;
    border-radius: 50px;
}

.footerIcons:hover {
    border: #fff solid 1px;
    color: #fff;
    background-color: #2d2d2d;
}

#cguAdnPrivacyIcon {
    float: right;
    margin-right: 70px;
}

#cguAdnPrivacyIcon:hover::after {
    content: " CGU et Politique de confidentialité ";
}

#supportIcon {
    float: right;
    margin-right: 20px;
}

#supportIcon:hover::after {
    content: "  Besoin d'aide ";
}

p {
    color: #fff;
}