@font-face {
    font-family: 'technoid';
    src: url("../fonts/technoid.ttf");
}

* {
    margin: 0;
}

body {
    color: #2d2d2d;
}

a {
    text-decoration: none;
}


/*-----INDEX----*/

#pageIconsSelection {
    position: absolute;
    top: 40%;
}

.zoom-box {
    transition: transform .2sc;
}

.zoom-box:hover {
    transform: scale(1.5);
}

#articlePageIcon {
    color: #fff;
}

#articlePageIcon:hover {
    color: #EF0B0B;
}

#trainingPageIcon {
    color: #fff;
}

#trainingPageIcon:hover {
    color: #EF0B0B;
}

#forumPageIcon {
    color: #fff;
}

#forumPageIcon:hover {
    color: #EF0B0B;
}

#userProfilePageIcon {
    color: #fff;
}

#userProfilePageIcon:hover {
    color: #EF0B0B;
}


/*----HEADER---*/

header {
    background-color: #2d2d2d;
}


/*---MODE BUTTON----*/

#ModeButton {
    border-radius: 12px;
    background-color: #2d2d2d;
}

#ModeButton:hover {
    border: #EF0B0B solid 1px;
    color: #EF0B0B;
}


/*-----Captcha CSS----*/

#captchaBody {
    position: absolute;
    top: 30%;
    left: 35%;
    width: 500px;
    height: 400px;
    background-color: rgb(21, 21, 20);
    border-radius: 12px;
    margin: auto;
}

.captchaAnswer {
    background-color: transparent;
    border: 1px solid transparent;
}

.captchaAnswer:hover {
    border: 3px solid #EF0B0B
}


/*-----FIN Captcha CSS-----*/


/*-----LOGIN CSS-----*/

#loginBody {
    position: absolute;
    top: 7.5%;
    right: 0%;
    width: 27%;
    background-color: rgb(21, 21, 20);
    border-radius: 12px;
    margin: auto;
}


/*-----Fin du LOGIN CSS---*/


/*----REGISTER CSS------*/

#registerBody {
    position: absolute;
    top: 7.5%;
    right: 0%;
    width: 27.5%;
    background-color: rgb(21, 21, 20);
    border-radius: 12px;
}

.submitButton:hover {
    border: #EF0B0B solid 1px;
    color: #EF0B0B;
    background-color: #2d2d2d;
}

label {
    color: #fff;
}


/*----FIN DU REGISTER----*/


/*-----FIN MODE BUTTON-----*/

header {
    border-bottom: #fff solid 1px;
}

header:hover {
    border-bottom: #EF0B0B solid 1px;
}

.nav-link {
    color: #fff;
    border: #fff solid 1px;
    border-radius: 12px;
    margin-right: 10px;
}

.nav-link:hover {
    color: #EF0B0B;
    border: #EF0B0B 1px solid;
}

nav {
    background-color: #2d2d2d;
}

.searchbarDiv {
    position: fixed;
    top: 15px;
    right: 300px;
    width: 200px;
    border-radius: 10px;
}

#searchResults {
    position: fixed;
    background-color: #2d2d2d;
    top: 50px;
    right: 310px;
    width: 190px;
}

.searchResult {
    background-color: #4f4d4d;
    color: #EF0B0B;
    text-align: center;
    height: 35px;
}

@media screen and (max-width:1000px) {
    .searchbarDiv {
        position: fixed;
        top: 60px;
        left: 100px;
        width: 200px;
        border-radius: 10px;
    }
    #searchResults {
        position: fixed;
        background-color: #2d2d2d;
        top: 95px;
        left: 100px;
        width: 190px;
    }
}


/*----Vidéo INDEX-----*/

.video {
    column-fill: 0, 0, 0, 10;
}

.bloc {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.bloc video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
}


/*----FIN VIDEO-----*/


/*-----FOOTER-----*/

footer {
    position: relative;
    background-color: #2d2d2d;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: #EF0B0B solid 1px;
}

footer:hover {
    color: #fff
}

#footerIcons {
    margin-left: 50px;
}

.footerIcons {
    color: #EF0B0B;
    border: #EF0B0B solid 1px;
    border-radius: 50px;
}

.footerIcons:hover {
    border: #fff solid 1px;
    color: #fff;
    background-color: #2d2d2d;
}

#cguAdnPrivacyIcon {
    float: right;
    margin-right: 70px;
}

#cguAdnPrivacyIcon:hover::after {
    content: " CGU et Politique de confidentialité ";
}

#supportIcon {
    float: right;
    margin-right: 20px;
}

#supportIcon:hover::after {
    content: "  Besoin d'aide ";
}

p {
    color: #fff;
}


/*-----FIN FOOTER CSS---*/


/*-----PAGE DE myProfile----*/

#avatarCanvas {
    border: 5px solid #000000;
    border-radius: 100%;
    margin-top: 10px;
}

.userProfileBody {
    background-color: #2d2d2d;
}

.userNickname {
    color: #fff;
}

.userInfo {
    margin-top: 15px;
    height: 200px;
    border: #000000 2px solid;
    border-radius: 15px;
    background-color: #4f4d4d;
}

.userInfoText {
    color: #fff;
}

@media screen and (max-width:900px) {
    .userInfo {
        padding-left: 10px;
        width: 400px;
    }
}

.userLikedArticles {
    margin-top: 60px;
    height: 200px;
    border: #000000 2px solid;
    border-radius: 15px;
    background-color: #4f4d4d;
    color: #fff;
}

.userStats {
    margin-top: 60px;
    height: 200px;
    border: #000000 2px solid;
    border-radius: 15px;
    background-color: #4f4d4d;
    color: #fff;
}

.userFriendsList {
    margin-top: 60px;
    height: 200px;
    border: #000000 2px solid;
    border-radius: 15px;
    background-color: #4f4d4d;
    color: #fff;
}

#modUserButton {
    background-color: #2d2d2d;
    border-radius: 100%;
    margin-top: 45%;
}


/*------modifyUserProfile----*/

#modifyUserProfile {
    position: absolute;
    top: 44%;
    left: 20%;
    width: 65%;
    background-color: rgb(21, 21, 20);
    border-radius: 12px;
    margin: auto;
    justify-content: center;
}

#modifyUserProfile form {
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 65%;
}

#changeAvatar {
    border: #000000 5px solid;
    border-radius: 100%;
    margin-top: 10px;
    width: 250px;
    height: 250px;
}


/*------FORUM-------*/

.forumBody {
    background-color: #2d2d2d;
}

.makeThreadButton {
    position: fixed;
    background-color: #EF0B0B;
    top: 10%;
    left: 0%;
    border-radius: 10px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.makeThreadButton:hover {
    background-color: #fefefe;
}

#makeThreadBody {
    position: fixed;
    top: 15%;
    width: 500px;
    height: 550px;
    background-color: #4f4d4d;
    border-radius: 20px;
}

#makeThreadCommentBody {
    position: fixed;
    top: 15%;
    width: 300px;
    height: 425px;
    background-color: #4f4d4d;
    border-radius: 20px;
}

.formTitles {
    color: #EF0B0B;
}

.threadsPreviews {
    height: 250;
    width: 800px;
}

.threadLink {
    background-color: #A32227;
    border: none;
}

.threadLink:hover {
    background-color: #2d2d2d;
}

.userLikeButton {
    border: none;
    background-color: transparent;
}


/*------END FORUM-----*/


/*------ADMINISTRATION---------*/

.adminPage {
    background-color: #2d2d2d;
}

#adminPageTitle {
    color: #EF0B0B;
}

.usersTable {
    background-color: #fefefe;
    border-radius: 20px;
    height: 500px;
    border: #EF0B0B 2px solid;
}

#roleChoice {
    position: absolute;
    background-color: #000000;
    width: fit-content;
    height: 50px;
    top: 50%;
    right: 0%;
    border-radius: 10px;
}


/*-----END AMINISTRATION------*/


/*-----ARTICLES-----*/

.article-div {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    padding-top: 3%;
}

.article-item {
    margin-left: auto;
    margin-right: auto;
}

.article-title {
    color: brown;
    font-size: 1.4em;
    text-transform: uppercase;
}

.article-theme {
    color: black;
}

.article-read a,
.article-read {
    background-color: brown;
    color: white;
    border: none;
}

.article-read a,
.article-read:hover {
    background-color: brown;
    color: white;
}

#article-modal {
    background-color: thistle;
}

.modal-content {
    background-color: white;
    border: #A32227 1px solid;
    color: #fefefe;
    width: 100vh;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.modal-footer i {
    color: red;
    font-size: 30px;
}