* {
    margin: 0;
}

.video {
    column-fill: 0, 0, 0, 10;
}

#loginBody {
    background-color: rgb(21, 21, 20);
}

#registerBody {
    background-color: rgb(21, 21, 20);
}

nav {
    background-color: #2d2d2d;
}

#homebutton {
    background-color: #2d2d2d;
    color: #2d2d2d;
}

#searchbar {
    border: #fff solid 1px;
    border-radius: 12px;
    background-color: #2d2d2d;
}

#searchbar:hover {
    border: #EF0B0B solid 1px;
}

#searchbar::placeholder {
    color: #fff;
}

body {
    color: #2d2d2d;
}

#ModeButton {
    border-radius: 12px;
}

#ModeButton:hover::before {
    content: "Light Mode";
}

header {
    border-bottom: #fff solid 1px;
}

header:hover {
    border-bottom: #EF0B0B solid 1px;
}

.nav-link {
    color: #fff;
    border: #fff solid 1px;
    border-radius: 12px;
    margin-right: 10px;
}

.nav-link:hover {
    color: #EF0B0B;
    border: #EF0B0B 1px solid;
}

.bloc {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.bloc video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
}